pipeline/pratica_03.json
{
	"name": "pratica_03",
	"properties": {
		"activities": [
			{
				"name": "read_sql_tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select \ntable_schema, table_name\nfrom information_schema.tables\nwhere \ntable_type='BASE TABLE' and\ntable_schema = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generico_azuresql",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "*",
							"tableName": "*"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_read_sql_tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "read_sql_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('read_sql_tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "db_to_parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_generico_azuresql",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generico_parquet",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "parquetfiles/TABLE_SQL/",
										"fileName": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "adf_03_handson01"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-17T22:25:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}